body{
    display: block;
    margin: 0 auto;
}

.field{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.input{
    width:300px;
    height:100px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 3px;
}

p{
    font-size: 10px;
}